* {
  box-sizing: border-box; }

body {
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #323232; }

::placeholder {
  color: #989898;
  font-size: 16px;
  font-weight: 300; }

i {
  font-size: 22px; }

body {
  background-color: #f4e5c2;
  position: relative;
  min-height: 100vh;
  color: #323232; }
  body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8559a5;
    transform: rotate(40deg) translate(-20%, 60%);
    z-index: -1; }

.container {
  margin: 0 auto;
  max-width: 768px; }

.header {
  background-color: #8559a5;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); }

.navbar {
  display: flex;
  align-items: center;
  justify-content: center; }
  .navbar-item {
    flex: 1 1 auto;
    text-align: center;
    height: 70px;
    line-height: 70px; }
  .navbar a {
    color: #f4e5c2;
    letter-spacing: 1px; }

.navbar-item.active {
  background-color: #f4e5c2;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.125); }
  .navbar-item.active a {
    color: #8559a5; }

.todo {
  min-height: 500px;
  margin-top: 30px;
  padding: 16px; }

.todo-btn {
  height: 45px;
  line-height: 45px;
  padding: 0px 10px;
  background-color: #8559a5;
  color: #f4e5c2;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); }
  .todo-btn i {
    position: relative;
    top: 2px;
    margin-right: 10px;
    color: #f4e5c2 !important; }
  .todo-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); }
  .todo-btn:hover:active {
    transform: translateY(2px);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.125); }

.todo-btn.todo-btn--secondary {
  background-color: #fafaf6;
  color: #8559a5; }
  .todo-btn.todo-btn--secondary i {
    color: #8559a5 !important; }

.todo-item-main, .todo-item-detail {
  display: flex;
  margin: 12px 0;
  background-color: #fafaf6;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.125); }
  .todo-item-main .todo-main-title, .todo-item-detail .todo-main-title {
    width: 50%;
    color: #4c4c4c;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .todo-item-main .todo-main-time, .todo-item-main .todo-main-star, .todo-item-main .todo-main-done, .todo-item-detail .todo-main-time, .todo-item-detail .todo-main-star, .todo-item-detail .todo-main-done {
    color: #989898; }
  .todo-item-main .todo-main-time, .todo-item-detail .todo-main-time {
    width: 30%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .todo-item-main .todo-main-star, .todo-item-detail .todo-main-star {
    position: relative;
    width: 10%;
    cursor: pointer; }
    .todo-item-main .todo-main-star .star, .todo-item-detail .todo-main-star .star {
      margin: 7px 0;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      top: 50%;
      left: 39%;
      transform: rotate(35deg) translate(-50%, -50%);
      border-right: 14px solid transparent;
      border-bottom: 9.8px solid #f4e5c2;
      border-left: 14px solid transparent;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      pointer-events: none; }
      .todo-item-main .todo-main-star .star:before, .todo-item-main .todo-main-star .star:after, .todo-item-detail .todo-main-star .star:before, .todo-item-detail .todo-main-star .star:after {
        content: '';
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        transition: all 0.3s ease-out; }
      .todo-item-main .todo-main-star .star:before, .todo-item-detail .todo-main-star .star:before {
        border-bottom: 11.2px solid #f4e5c2;
        border-left: 4.2px solid transparent;
        border-right: 4.2px solid transparent;
        top: -6.3px;
        left: -9.1px;
        transform: rotate(-35deg); }
      .todo-item-main .todo-main-star .star:after, .todo-item-detail .todo-main-star .star:after {
        border-right: 14px solid transparent;
        border-bottom: 9.8px solid #f4e5c2;
        border-left: 14px solid transparent;
        top: 0.42px;
        left: -14.7px;
        transform: rotate(-70deg); }
    .todo-item-main .todo-main-star .star-active, .todo-item-detail .todo-main-star .star-active {
      margin: 2.5px 0;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      top: 50%;
      left: 39%;
      transform: rotate(35deg) translate(-50%, -50%);
      border-right: 5px solid transparent;
      border-bottom: 3.5px solid #f4e5c2;
      border-left: 5px solid transparent;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      pointer-events: none; }
      .todo-item-main .todo-main-star .star-active:before, .todo-item-main .todo-main-star .star-active:after, .todo-item-detail .todo-main-star .star-active:before, .todo-item-detail .todo-main-star .star-active:after {
        content: '';
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        transition: all 0.3s ease-out; }
      .todo-item-main .todo-main-star .star-active:before, .todo-item-detail .todo-main-star .star-active:before {
        border-bottom: 4px solid #f4e5c2;
        border-left: 1.5px solid transparent;
        border-right: 1.5px solid transparent;
        top: -2.25px;
        left: -3.25px;
        transform: rotate(-35deg); }
      .todo-item-main .todo-main-star .star-active:after, .todo-item-detail .todo-main-star .star-active:after {
        border-right: 5px solid transparent;
        border-bottom: 3.5px solid #f4e5c2;
        border-left: 5px solid transparent;
        top: 0.15px;
        left: -5.25px;
        transform: rotate(-70deg); }
  .todo-item-main .todo-main-done, .todo-item-detail .todo-main-done {
    width: 10%;
    cursor: pointer; }

.todo-item-main {
  position: relative;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  transition: all .3s; }
  .todo-item-main:hover {
    background-color: #e8e8d5; }

.todo-item-detail {
  padding: 20px; }

.todo-main-star.important .star {
  margin: 8px 0;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  left: 39%;
  transform: rotate(35deg) translate(-50%, -50%);
  border-right: 16px solid transparent;
  border-bottom: 11.2px solid #b69bc9;
  border-left: 16px solid transparent;
  transition: all 0.3s ease-out;
  backface-visibility: hidden; }
  .todo-main-star.important .star:before, .todo-main-star.important .star:after {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transition: all 0.3s ease-out; }
  .todo-main-star.important .star:before {
    border-bottom: 12.8px solid #b69bc9;
    border-left: 4.8px solid transparent;
    border-right: 4.8px solid transparent;
    top: -7.2px;
    left: -10.4px;
    transform: rotate(-35deg); }
  .todo-main-star.important .star:after {
    border-right: 16px solid transparent;
    border-bottom: 11.2px solid #b69bc9;
    border-left: 16px solid transparent;
    top: 0.48px;
    left: -16.8px;
    transform: rotate(-70deg); }

.todo-main-star.important .star-active {
  margin: 40px 0;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  left: 39%;
  transform: rotate(35deg) translate(-50%, -50%);
  border-right: 80px solid transparent;
  border-bottom: 56px solid #8559a5;
  border-left: 80px solid transparent;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  left: 12%;
  opacity: 0; }
  .todo-main-star.important .star-active:before, .todo-main-star.important .star-active:after {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transition: all 0.3s ease-out; }
  .todo-main-star.important .star-active:before {
    border-bottom: 64px solid #8559a5;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    top: -36px;
    left: -52px;
    transform: rotate(-35deg); }
  .todo-main-star.important .star-active:after {
    border-right: 80px solid transparent;
    border-bottom: 56px solid #8559a5;
    border-left: 80px solid transparent;
    top: 2.4px;
    left: -84px;
    transform: rotate(-70deg); }

.todo-item-detail {
  display: flex;
  flex-flow: column nowrap;
  margin-top: -12px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.125); }
  .todo-item-detail .todo-title {
    flex: 0 0 auto;
    width: 120px;
    padding: 0 10px;
    color: #8559a5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .todo-item-detail i {
    flex: 0 0 auto;
    width: 30px;
    color: #8559a5; }

.todo-deadline, .todo-des, .todo-file {
  margin-bottom: 30px; }

.todo-deadline {
  display: flex;
  width: 100%;
  height: 45px;
  line-height: 45px; }
  .todo-deadline i {
    margin-top: 3px; }
  .todo-deadline .input-date-day, .todo-deadline .input-date-time {
    flex: 1 1 auto;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #989898;
    background-color: #fafaf6; }

.todo-des {
  display: flex;
  flex-flow: row wrap; }
  .todo-des .todo-textarea {
    flex: 1 1 auto;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #989898;
    outline: none;
    background-color: #fafaf6; }

.todo-file {
  display: flex; }
  .todo-file .input-file-box {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative; }
  .todo-file .input-file-style {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4e5c2;
    color: #989898;
    font-weight: 300;
    font-size: 16px;
    padding-left: 58px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .todo-file .input-file-style:before {
      content: '+';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 40px;
      line-height: 36px;
      font-size: 22px;
      color: #f4e5c2;
      text-align: center;
      background-color: #8559a5;
      cursor: pointer; }
  .todo-file .input-file {
    visibility: hidden; }

.todo-error {
  text-align: center;
  color: #ff7675;
  padding: 12px 20px;
  background-color: #f4e5c2; }

.todo-item-btns {
  margin-top: -12px;
  display: flex; }
  .todo-item-btns .todo-btn {
    flex: 1 1 50%;
    text-align: center;
    box-shadow: none; }

.todo-list.add .todo-item-detail {
  margin-top: 0; }

.todo-item.completed .todo-item-main {
  overflow: hidden; }
  .todo-item.completed .todo-item-main:before, .todo-item.completed .todo-item-main:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; }
  .todo-item.completed .todo-item-main:after {
    width: 95%;
    height: 2px;
    background-color: #f4e5c2; }
  .todo-item.completed .todo-item-main:before {
    width: 102%;
    height: 102%;
    background-color: rgba(50, 50, 50, 0.4); }

.todo-item.completed .todo-main-done i:before {
  content: "\f2bb";
  color: #8559a5; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: #323232; }
  .footer-text {
    color: #f4e5c2;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 10px; }
  .footer-link {
    color: #f4e5c2;
    margin-right: 10px; }
    .footer-link i {
      margin-top: 3px; }

.new-todo-popup-enter-active {
  animation: popup .8s; }

.new-todo-popup-leave-active {
  animation: popup .8s reverse; }

.new-todo-popup-2-enter-active {
  animation: popup .8s; }

.new-todo-popup-2-leave-active {
  animation: popup .8s reverse; }

@keyframes popup {
  0% {
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0); }
  100% {
    transform-origin: top;
    opacity: 1;
    transform: scaleY(1); } }
