// == $color ==
$color-primary: #8559a5
$color-primary-light: #a585bd
$color-primary-dark: #593b6e
$color-secondary: #6db193
$color-thrid: #f4e5c2
$color-black: #323232
$color-white: #fafaf6
$color-black-light: lighten($color-black, 40)
// == $color End ==

// == $mixin ==
@mixin flexCenter
    display: flex
    align-items: center
    justify-content: center

@mixin abCenter
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

@mixin fullTopLeft
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

@mixin moreText
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

// == $mixin End ==

// == $reset ==
*
    box-sizing: border-box
body
    margin: 0
ul
    list-style: none
    padding: 0
    margin: 0
a
    text-decoration: none
    color: $color-black

::placeholder
    color: $color-black-light
    font-size: 16px
    font-weight: 300
// == $reset End ==

i
    font-size: 22px

body
    background-color: $color-thrid
    position: relative
    min-height: 100vh
    color: $color-black
    &:before
        content: ''
        +fullTopLeft
        background-color: $color-primary
        transform: rotate(40deg) translate(-20%, 60%)
        z-index: -1

.container
    margin: 0 auto
    max-width: 768px


// == $header ==
.header
    background-color: $color-primary
    box-shadow: 0 4px 6px 0 rgba(black, 0.2)
.navbar
    +flexCenter
    &-item
        flex: 1 1 auto
        text-align: center
        height: 70px
        line-height: 70px
    a
        color: $color-thrid
        letter-spacing: 1px

.navbar-item.active
    background-color: $color-thrid
    box-shadow: 0 5px 5px 0 rgba(black, 0.125)
    a
        color: $color-primary

// == $header End ==


// == $todo ==
.todo
    min-height: 500px
    margin-top: 30px
    padding: 16px

// $btn
.todo-btn
    height: 45px
    line-height: 45px
    padding: 0px 10px
    background-color: $color-primary
    color: $color-thrid
    text-align: center
    text-transform: uppercase
    box-shadow: 0 4px 6px 0 rgba(black,0.2)
    i
        position: relative
        top: 2px
        margin-right: 10px
        color: $color-thrid !important
    &:hover
        transform: translateY(1px)
        box-shadow: 0 3px 5px 0 rgba(black,0.2)
    &:hover:active
        transform: translateY(2px)
        box-shadow: 0 0px 0px 0 rgba(black,0.125)


.todo-btn.todo-btn--secondary
    background-color: $color-white
    color: $color-primary
    i
        color: $color-primary !important


.todo
    &-item-main,&-item-detail
        display: flex
        margin: 12px 0
        background-color: $color-white
        box-shadow: 0 4px 6px 0 rgba(black, 0.125)
        .todo-main-title
            width: 60%
            color: lighten($color-black,10)
        .todo-main-time,.todo-main-star,.todo-main-done
            color: $color-black-light
        .todo-main-time
            width: 20%
        .todo-main-star
            width: 10%
        .todo-main-done
            width: 10%
    &-item-main
        position: relative
        height: 70px
        line-height: 70px
        padding: 0 20px
        transition: all .3s
        &:hover
            background-color: darken($color-white,10)

    &-item-detail
        padding: 20px

.todo-main-done.active
    i
        color: $color-primary
.todo-main-star.active
    i
        color: $color-primary

//$todo-detail
.todo
    &-item-detail
        display: flex
        flex-flow: column nowrap
        margin-top: -12px
        // display: none
        padding: 20px
        background-color: #fff
        box-shadow: 0 4px 6px 0 rgba(black, 0.125)
        .todo-title
            flex: 0 0 auto
            width: 120px
            padding: 0 10px
            color: $color-primary
            +moreText
        i
            flex: 0 0 auto
            width: 30px
            color: $color-primary
    &-deadline,&-des,&-file
        margin-bottom: 30px
    &-deadline
        display: flex
        width: 100%
        height: 45px
        line-height: 45px
        i
            margin-top: 3px
        .input-date
            flex: 1 1 auto
            height: 45px
            line-height: 45px
            padding: 0px 10px
            border: none
            outline: none
            cursor: pointer
            font-size: 16px
            color: $color-black-light
            background-color: $color-white

    &-des
        display: flex
        flex-flow: row wrap
        .todo-textarea
            flex: 1 1 auto
            border: none
            padding: 10px
            font-size: 16px
            color: $color-black-light
            outline: none
            background-color: $color-white

    &-file
        display: flex
        .input-file-box
            height: 40px
            line-height: 40px
            overflow: hidden
            position: relative
        .input-file-style
            position: absolute
            +fullTopLeft
            background-color: $color-thrid
            color: $color-black-light
            font-weight: 300
            font-size: 16px
            padding-left: 58px
            +moreText
            &:before
                content: '+'
                position: absolute
                top: 0
                left: 0
                width: 50px
                height: 40px
                line-height: 36px
                font-size: 22px
                color: $color-thrid
                text-align: center
                background-color: $color-primary
                cursor: pointer
        .input-file
            visibility: hidden

    &-item-btns
        margin-top: -12px
        display: flex
        .todo-btn
            flex: 1 1 50%
            text-align: center
            box-shadow: none


.todo-list.add .todo-item-detail
    margin-top: 0

// 預設關閉
.todo-item-detail,.todo-item-btns
    // display: none



// 完成樣式
.todo-item.completed
    .todo-item-main
        overflow: hidden
        &:before,&:after
            content: ''
            +abCenter
        &:after
            width: 95%
            height: 2px
            background-color: $color-thrid
        &:before
            width: 102%
            height: 102%
            background-color: rgba($color-black,0.4)
    .todo-main-done.active i
        color: $color-primary


.todo-main-star.active i
    color: $color-primary


// == $todo End ==


// == $footer ==
.footer
    +flexCenter
    padding: 12px 20px
    background-color: $color-black
    &-text
        color: $color-thrid
        font-weight: 300
        font-size: 14px
        footer-link
        letter-spacing: 1px
        margin-right: 10px
    &-link
        color: $color-thrid
        margin-right: 10px
        i
            margin-top: 3px
        
// == $footer End ==