<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>ToDo List</title>
</head>
<body>
    <div id="app">
        <header class="header">
            <ul class="navbar container">
                <li class="navbar-item" :class="{'active' : show === 'all'}" @click.prevent="show = 'all'"><a href="#">My Tasks</a></li>
                <li class="navbar-item" :class="{'active' : show === 'active'}" @click.prevent="show = 'active'"><a href="#">In Progress</a></li>
                <li class="navbar-item" :class="{'active' : show === 'completed'}" @click.prevent="show = 'completed'"><a href="#">Completed</a></li>
            </ul>
        </header>
        <section class="container">
            <div class="todo">
                <!-- 新增 -->
                <ul class="todo-list add">
                    <li class="todo-item">
                        <div class="todo-btn todo-btn-add" @click="addShow"><i class="icon ion-md-add-circle-outline"></i>Add a new task</div>
                        <transition name="new-todo-popup">
                            <div class="todo-item-detail" v-if="add">
                                <div class="todo-deadline">
                                    <i class="ion-md-calendar"></i>
                                    <div class="todo-title">Deadline</div>
                                    <input id="date" type="date" class="input-date" v-model="newDeadline">
                                </div>
                                <div class="todo-des">
                                    <i class="ion-md-create"></i>
                                    <div class="todo-title">Comment</div>
                                    <textarea class="todo-textarea" v-model="newTitle" rows="6" placeholder="Type your memo here..."></textarea>
                                </div>
                                <div class="todo-file">
                                    <i class="ion-md-filing"></i>
                                    <div class="todo-title">File</div>
                                    <div class="input-file-box">
                                        <div class="input-file-style" onclick="upfile_1.click()">尚未選擇檔案</div>
                                        <input class="input-file" type="file" id="upfile_1" onchange="fileChange(this)">
                                    </div>
                                </div>
                                <div class="todo-error" v-if="error">{{ errorText }}</div>
                            </div>
                        </transition>
                        <transition name="new-todo-popup-2">
                            <div class="todo-item-btns" v-if="add">
                                <div class="todo-btn todo-btn--secondary" @click="cancelAdd"><i class="ion-md-close-circle-outline"></i>Cancel</div>
                                <div class="todo-btn" @click="addTodo"><i class="ion-md-add-circle-outline"></i>Add a new task</div>
                            </div>
                        </transition>
                    </li>
                </ul>

                <!-- todo列表 -->
                <ul class="todo-list">
                    <li v-for="item in filterTodo"
                        class="todo-item"
                        :class="{ 'completed' : item.completed }"
                        :id="item.id">
                        <div class="todo-item-main" @click="Edit(item)">
                            <span class="todo-main-title">{{ item.title }}</span>
                            <span class="todo-main-time">{{ item.deadline }}</span>
                            <div class="todo-main-star" :class="{'important' : item.important}" @click.stop="update('important',item.id)">
                                <i class="star"></i>
                                <i class="star-active"></i>
                            </div>
                            <span class="todo-main-done" @click.stop="update('completed',item.id)"><i class="icon ion-md-radio-button-off"></i></span>
                        </div>
                        <transition name="new-todo-popup">
                            <div class="todo-item-detail" v-if="cacheTodo.id == item.id && edit">
                                <div class="todo-deadline">
                                    <i class="ion-md-calendar"></i>
                                    <div class="todo-title">Deadline</div>
                                    <input class="input-date" type="date" v-model="cacheDeadline">
                                </div>
                                <div class="todo-des">
                                    <i class="ion-md-create"></i>
                                    <div class="todo-title">Comment</div>
                                    <textarea class="todo-textarea" v-model="cacheTitle" rows="6" placeholder="Type your memo here...">{{item.title}}</textarea>
                                </div>
                                <div class="todo-file">
                                    <i class="ion-md-filing"></i>
                                    <div class="todo-title">File</div>
                                    <div class="input-file-box">
                                        <div class="input-file-style" onclick="upfile_1.click()">尚未選擇檔案</div>
                                        <input class="input-file" type="file" id="upfile_1" onchange="fileChange(this)">
                                    </div>
                                </div>
                            </div>
                        </transition>
                        <transition name="new-todo-popup-2">
                            <div class="todo-item-btns" v-if="cacheTodo.id == item.id && edit">
                                <div class="todo-btn todo-btn--secondary" @click="cancelEdit"><i class="ion-md-close-circle-outline"></i>Cancel</div>
                                <div class="todo-btn todo-btn--danger" @click="removeTodo(item.id)"><i class="icon ion-md-trash"></i>delete</div>
                                <div class="todo-btn" @click="saveEdit(item)"><i class="ion-md-add-circle-outline"></i>Add a new task</div>
                            </div>
                        </transition>
                    </li>
                </ul>
                <div class="todo-text"> {{activeCount}} tasks left </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-text">
                Todo List - The F2E 前端修練精神時光屋 | Designed by HSI-MAO CHEN
            </div>
            <a href="https://github.com/hsimao/" target="_blank" class="footer-link"><i class="icon ion-logo-github"></i></a>
            <a href="https://codepen.io/hsimao/" target="_blank" class="footer-link"><i class="icon ion-logo-codepen"></i></a>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="./js/uuidv4.js"></script>
    <script src="./js/js.js"></script>
</body>
</html>