<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>ToDo List</title>
</head>
<body>
    <div id="app">
        <header class="header">
            <ul class="navbar container">
                <li class="navbar-item active"><a href="#">My Tasks</a></li>
                <li class="navbar-item"><a href="#">In Progress</a></li>
                <li class="navbar-item"><a href="#">Completed</a></li>
            </ul>
        </header>
        <section class="container">
            <div class="todo">
                <!-- 新增 -->
                <ul class="todo-list add">
                    <li class="todo-item">
                        <div class="todo-btn" @click="add = !add"><i class="icon ion-md-add-circle-outline"></i>Add a new task</div>
                        <div class="todo-item-detail" v-if="add">
                            <div class="todo-deadline">
                                <i class="ion-md-calendar"></i>
                                <div class="todo-title">Deadline</div>
                                <input class="input-date" type="date" value="2018-06-06">
                            </div>
                            <div class="todo-des">
                                <i class="ion-md-create"></i>
                                <div class="todo-title">Comment</div>
                                <textarea class="todo-textarea" v-model="newTodo" rows="6" placeholder="Type your memo here..."></textarea>
                            </div>
                            <div class="todo-file">
                                <i class="ion-md-filing"></i>
                                <div class="todo-title">File</div>
                                <div class="input-file-box">
                                    <div class="input-file-style" onclick="upfile_1.click()">尚未選擇檔案</div>
                                    <input class="input-file" type="file" id="upfile_1" onchange="fileChange(this)">
                                </div>
                            </div>
                        </div>
                        <div class="todo-item-btns" v-if="add">
                            <div class="todo-btn todo-btn--secondary"><i class="ion-md-close-circle-outline"></i>Cancel</div>
                            <div class="todo-btn" @click="addTodo"><i class="ion-md-add-circle-outline"></i>Add a new task</div>
                        </div>
                    </li>
                </ul>

                <!-- todo列表 -->
                <ul class="todo-list">
                    <li class="todo-item completed" v-for="item in todos">
                        <div class="todo-item-main">
                            <span class="todo-main-title">{{ item.title }}</span>
                            <span class="todo-main-time">{{ item.createTime}}</span>
                            <span class="todo-main-star" :class="{'active' : item.important}"><i class="ion-md-star-outline"></i></span>
                            <span class="todo-main-done active"><i class="ion-md-checkmark-circle"></i></span>
                        </div>
                        <div class="todo-item-detail" v-if="edit">
                            <div class="todo-deadline">
                                <i class="ion-md-calendar"></i>
                                <div class="todo-title">Deadline</div>
                                <input class="input-date" type="date" value="2018-06-06">
                            </div>
                            <div class="todo-des">
                                <i class="ion-md-create"></i>
                                <div class="todo-title">Comment</div>
                                <textarea class="todo-textarea" name="" id="" rows="6" placeholder="Type your memo here..."></textarea>
                            </div>
                            <div class="todo-file">
                                <i class="ion-md-filing"></i>
                                <div class="todo-title">File</div>
                                <div class="input-file-box">
                                    <div class="input-file-style" onclick="upfile_1.click()">尚未選擇檔案</div>
                                    <input class="input-file" type="file" id="upfile_1" onchange="fileChange(this)">
                                </div>
                            </div>
                        </div>
                        <div class="todo-item-btns" v-if="edit">
                            <div class="todo-btn todo-btn--secondary"><i class="ion-md-close-circle-outline"></i>Cancel</div>
                            <div class="todo-btn"><i class="ion-md-add-circle-outline"></i>Add a new task</div>
                        </div>
                    </li>
                </ul>
                <div class="todo-text">
                    2 tasks left
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-text">
                Todo List - The F2E 前端修練精神時光屋 | Designed by HSI-MAO CHEN
            </div>
            <a href="https://github.com/hsimao/" target="_blank" class="footer-link"><i class="icon ion-logo-github"></i></a>
            <a href="https://codepen.io/hsimao/" target="_blank" class="footer-link"><i class="icon ion-logo-codepen"></i></a>
        </footer>
    </div>

    <!-- <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="./js/uuidv4.js"></script>
    <script src="./js/js.js"></script>
</body>
</html>